.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none; 
}

#left {
  float: left;
  width: 50%;
  overflow: hidden;
}

#right {
  float: left;
  width: 50%;
  overflow: hidden;
}

#pie1 {
  max-width: 550px;
  float: left;
  width: 50%;
  overflow: hidden;
}